@model IEnumerable<FinalProject.Service.Models.CartViewModel>

<h3 class="my-4">Septim (@await Component.InvokeAsync("CartCount") Ürün )</h3>

@if(!Model.Any()) {
    <h5 class="my-5 p-3">Sepette ürün yok!</h5>
}else
{
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    @foreach (var item in Model)
                    {
                        <partial name="_CartPartial" model="item" />
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Toplam</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@await Component.InvokeAsync("CartCount") Ürün</h6>
                    <p class="card-text">Toplam tutar: @Model.Sum(item => item.Product.Price * item.Quantity) TL</p>
                    <a href="#" class="btn btn-primary">Ödeme Yap</a>
                </div>
            </div>
        </div>
    </div>
}
