@model FinalProject.Service.Models.User

@{
    string? errorMessage = TempData.ContainsKey("ErrorMessage") ? TempData["ErrorMessage"] as string : null;
    ViewData["Title"] = "Signup";
}

<div class="text-center my-4 fs-5"><b class="fs-3">Merhaba, </b>Hoşgeldiniz</div>



<div class="row">
    <div class="col-11 col-sm-10 col-md-7 col-lg-6 col-xl-5 mx-auto">
        <ul class="nav nav-tabs nav-justified" >
            <li class="nav-item">
                <a class="nav-link" aria-current="page" asp-action="Login" style="color:inherit;">Giriş yap</a>
            </li>
            <li class="nav-item fw-bold">
                <a class="nav-link active" tabindex="-1" aria-disabled="true">Kayıt yap</a>
            </li>
        </ul>
        <div class="border p-3 rounded-bottom border-top-0 shadow">
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div id="errorMessage" class="alert alert-danger fade show">@errorMessage</div>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js"></script>
                <script>
                    gsap.fromTo('.alert', { opacity: 1 }, {
                        opacity: 0, duration: 1, delay: 4, onComplete: function () {
                            document.querySelector('.alert').style.display = 'none';
                        }
                    });
                </script>

            }
            <form asp-action="Save">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group my-2">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group my-2">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group my-2">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group my-2">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group my-2">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group my-4">
                    <input type="submit" value="Kaydet" class="btn btn-secondary px-4" />
                </div>
            </form>
            <div class="text-center my-3">
                <a asp-action="Index">Ana sayfaya geri dön</a>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
