@model IEnumerable<FinalProject.Service.Models.Favorite>


@if (!Model.Any())
{
    <h5 class="my-5 p-3">Favorilerinizde ürün yok!</h5>
}
else
{
    <div>
        <div class="card">
            <div class="card-body">
                @foreach (var item in Model)
                {
                    <partial name="_FavoritePartial" model="item" />
                }
            </div>
        </div>
    </div>
}