@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a class="navbar-brand d-lg-flex justify-content-lg-start" href="/">
    <div id="letterComponent">
        <span class="letter fw-bold">E</span>
        <span class="letter fw-bold">-</span>
        <span class="letter fw-bold">S</span>
        <span class="letter fw-bold">h</span>
        <span class="letter fw-bold">o</span>
        <span class="letter fw-bold">p</span>
    </div>
</a>