@using Microsoft.AspNetCore.Identity
@using FinalProject.Service.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    string firstName = "";
    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        firstName = user.FirstName;
    }
}

<ul class="navbar-nav ms-2 col-lg-4 d-lg-flex justify-content-end">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item align-self-center">
            <div class="dropdown text-dark">
                <button class="btn dropdown-toggle py-0" type="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user me-1"></i>@firstName
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                    <li class="nav-item d-flex justify-content-center mb-1">
                        <a class="dropdown-item nav-link text-dark d-flex justify-content-center border rounded" style="width:90%;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fas fa-user me-2"></i>Profil</a>
                    </li>
                    <li class="d-flex justify-content-center">
                        <form class="form-inline dropdown-item nav-link text-dark d-flex justify-content-center border rounded p-0" style="width:90%;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                            <button type="submit" class="nav-link btn btn-link text-dark"><i class="fas fa-sign-out-alt me-2"></i>Cıkış</button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item align-self-center">
            <div class="text-dark" asp-area="" asp-controller="Home" asp-action="Cart">
                <a class="btn text-black position-relative py-0" asp-area="" asp-controller="Cart" asp-action="Index">
                    <i class="fas fa-shopping-cart"></i> Sepetim
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
                        @await Component.InvokeAsync("CartCount")
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item align-self-center">
            <div class="dropdown text-dark">
                <button class="btn dropdown-toggle py-0" type="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user me-1"></i> Giriş yap
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                    <li class="d-flex justify-content-center mb-2"><a class="dropdown-item nav-link text-dark d-flex justify-content-center border rounded" style="width:90%;" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt me-2"></i>Giriş yap</a></li>
                    <li class="d-flex justify-content-center"><a class="dropdown-item nav-link text-dark d-flex justify-content-center border rounded" style="width:90%;" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus me-2"></i>Kayıt ol</a></li>
                </ul>
            </div>
        </li>
    }
</ul>
