@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action="Search" asp-controller="Products" method="get" class="d-flex justify-content-center align-items-cetner col-lg-8 form-inline my-2 my-lg-0" style="position:relative;">
    <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search" name="query" autocomplete="off" />
    <div class="search-results dropdown-menu col-12" style="top:48px;left:0px;"></div>
    <button class="btn my-2 my-sm-0" type="submit">
        <i class="fas fa-search"></i>
    </button>
</form>
